---
title: catalog
layout: default
---
{% assign synsets_sorted = site.synsets | sort_natural: "synset" %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
	<details>
		<summary>Spanish</summary>
			
			<ul>
			  {% for synset in synsets_sorted %}
				{% if synset.sid contains "es" %}
				    <li>
				      <a href="{{ synset.url }}">{{ synset.synset }} {{ synset.word_type }}</a>
				    </li>
				{% endif%}
			  {% endfor %}
			</ul>
	</details>

	<details>
		<summary>Finnish</summary>
			
			<ul>
			  {% for synset in synsets_sorted %}
				{% if synset.sid contains "fi" %}
				    <li>
				      <a href="{{ synset.url }}">{{ synset.synset }} {{ synset.word_type }}</a>
				    </li>
				{% endif%}
			  {% endfor %}
			</ul>
	</details>

	<details>
		<summary>German</summary>
			
			<ul>
			  {% for synset in synsets_sorted %}
				{% if synset.sid contains "de" %}
				    <li>
				      <a href="{{ synset.url }}">{{ synset.synset }} {{ synset.word_type }}</a>
				    </li>
				{% endif%}
			  {% endfor %}
			</ul>
	</details>
	</br>
	<a href="../">Home</a>

	<br>
	<br>
	<br>
	Check out the sources in <a href="https://github.com/CovidNet/covidnet.github.io">our repo!</a>
 </body>
</html>
